<!DOCTYPE html>
<html>
    <head>
        <title>3A</title>
        <style>
            h1.heading {
                text-align: left;
                padding: 10px;
            }
            body {
                background-color: lightgray;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="heading">List</h1>
            <ul>
                <li><a href="/stlist">Student List</a></li><br>
                <li><a href="/colist">Course List</a></li>
            </ul>
        </header>
    </body>
</html>
